 .Form{
    display:inline-block;
    margin-left: 500px;
    margin-bottom: 150px;;
    padding:130px;
    background-color:rgb(207, 214, 209);
          }

 .class1{
    font-size: 1em;
    
       }


  .red{
      color:rgb(49, 9, 16);
  }
   

   .inputDiv > input {
      width: 250px;
   }